<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/animated.css">
    <link rel="stylesheet" href="../css/owl.css">
    <link rel="stylesheet" href="../css/footer.css">

    <title>Footer</title>
</head>
<body>
    <footer>
        <div class="container">
        <div class="row">
            <div class="footer-inter col-lg-12">
            <p class="footer-team">ⓒ 어광첨</p>
            <p class="footer-member">강주찬, 명지훈, 윤혜인, 김혜진</p>
            </div>
        </div>
        </div>
    </footer>
    
</body>
</html>