<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/animated.css">
    <link rel="stylesheet" href="../css/owl.css">
    <link rel="stylesheet" href="../css/header.css">
    <title>로드</title>

</head>
<body>
    <!-- 로딩창 -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
        </div>
    </div>

    <div class="pre-header">
        <div class="container">
        <div class="row" style="flex-wrap:nowrap;">
            <div class="col-lg-9 col-sm-9 col-7">
            <setion class="top_01">
                <!-- 자바 스크립트로 현재 시간 출력 하는 곳 -->
                <span class="data" onload="clock()"></span>
                <span>Seoul&nbsp;</span>
                <span>Korea</span>
            </setion>
            </div>
            <div class="col-lg-3 col-sm-3 col-5">
            <ul class="social-media">
                <li class="pre-header-menu1"><i class="bi bi-person-circle"></i><a href="login.html">LOGIN</a></li>
                <li class="pre-header-menu2"><i class="bi bi-map"></i><a href="#">INTERACTIVE_MAP</a></li>
                <!-- 언어 선택 -->
                <select class="select-box">
                    <option class="option-list" value selected="selected">EN</option>
                    <option class="option-list" value="">KO</option>
                </select>
                <!--<li><i class="bi bi-translate"></i><button type="checkbox"></i>ENGLISH</button></li>-->
            </ul>
            </div>
        </div>
        </div>
    </div>


    <!-- 메뉴-->
    <!-- <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.01s" data-wow-delay="0s"> -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                    <a href="index.html" class="logo">
                    <img class="head-logo" src="../img/logo.png" alt="#">
                    </a>
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="introduction.html">Introduction</a></li>
                        <li class="scroll-to-section"><a href="recommendation.html">Recommendation</a></li>
                        <li class="scroll-to-section"><a href="#Drinks">Drinks</a></li>
                        <li class="scroll-to-section"><a href="#Community">Community</a></li>
                        <!--<li class="scroll-to-section"><a href="#Review">Review</a></li>-->
                        <!--<li class="scroll-to-section"><div class="border-first-button"><a href="#contact">Free Quote</a></div></li> -->
                    </ul>        
                    <a class='menu-trigger'>
                    <span>Menu</span>
                    </a>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</div>


    <!--js-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../js/header.js"></script>

</body>

</html>