<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap -->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/animated.css">
    <link rel="stylesheet" href="../css/owl.css">
    <link rel="stylesheet" href="../css/owl.carousel.css">
    <link rel="stylesheet" href="../css/index.css">
    
    <title>로드</title>

</head>
<body>

    <!-- 메뉴 -->
    <div data-include-path="header.html"></div>

    <!-- 슬라이드 -->
    <div id="wrapper">
        <div id="slider-wrap">
            <ul id="slider">
                <li>
                    <img src="../img/index/광주_무등산.png">
                </li>
    
                <li>
                    <img src="../img/index/전남_담양.png">
                </li>
    
                <li>
                    <img src="../img/index/전남_순천.png">
                </li>
    
                <li>
                    <img src="../img/index/전남_여수.png">
                </li>
            </ul>
    
            <!-- 버튼 -->
            <div class="btns" id="next"><i class="bi bi-arrow-right-short" style="font-size:2rem; color:#fff; opacity: 0.5;"></i></div>
            <div class="btns" id="previous"><i class="bi bi-arrow-left-short" style="font-size:2rem; color:#fff; opacity: 0.5;"></i></div>
            
    
            <div id="pagination-wrap">
                <ul>
                </ul>
            </div>
            <!--controls-->
    
        </div>
    
    </div>
    <div class="contents">
    <!-- 두번째 컨텐츠 -->
    <div class="second-contents">
        <div class="second-contents-left col-lg-3">
            <div class="second-contents-title">
                <p>BECOME AN</p>
                <p>"INSSA" <span>KOREA</span></p>
                <p>TRAVEL EXPERT!</p>
            </div>
            <div class="secont-contents-text">
            <span>Special food experence for travelers new to korea</span>
        </div>
        </div>
        <div id="portfolio" class="our-portfolio section col-lg-9">
            <div class="container-fluid wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="loop owl-carousel">
                            <div class="item">
                                <a href="#">
                                    <div class="portfolio-item">
                                        <div class="thumb">
                                            <img src="../img/index/전라도1.PNG" alt="">
                                        </div>
                                        <div class="down-content">
                                            <span>The perfect<br>combination you won't<br>forget - grilled kimchi...</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <div class="portfolio-item">
                                        <div class="thumb">
                                            <img src="../img/index/전라도2.PNG" alt="">
                                        </div>
                                        <div class="down-content">
                                            <span>DIY kimchi jjigae and<br>all you can eat fried<br>eggs!</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <div class="portfolio-item">
                                        <div class="thumb">
                                            <img src="../img/index/전라도3.PNG" alt="">
                                        </div>
                                        <div class="down-content">
                                            <span>A favorite among taxi<br>drivers! Dwaeji bulbaek<br>at a gisa sikdang in...</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <div class="portfolio-item">
                                        <div class="thumb">
                                            <img src="../img/index/전라도4.PNG" alt="">
                                        </div>
                                        <div class="down-content">
                                            <span>The perfect<br>combination you won't<br>forget - grilled kimchi...</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <div class="portfolio-item">
                                        <div class="thumb">
                                            <img src="../img/index/전라도5.PNG" alt="">
                                        </div>
                                        <div class="down-content">
                                            <span>DIY kimchi jjigae and<br>all you can eat fried<br>eggs!</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="line"></div>
    <!-- 태그 -->
    <div class="hastage">
        <div class="inr">
            <ul class="hastagelist">
                <li><a href="#"><span>#Su</span></a></li>
                <li><a href="#"><span>#Su</span></a></li>
                <li><a href="#"><span>#Su</span></a></li>
                <li><a href="#"><span>#Su</span></a></li>
                <li><a href="#"><span>#Su</span></a></li>
                <li><a href="#"><span>#Su</span></a></li>
                <li><a href="#"><span>#Su</span></a></li>
            </ul>
            <ul class="hastagelist">
                <li><a href="#"><span>#Su</span></a></li>
                <li><a href="#"><span>#Su</span></a></li>
                <li><a href="#"><span>#Su</span></a></li>
                <li><a href="#"><span>#Su</span></a></li>
                <li><a href="#"><span>#Su</span></a></li>
                <li><a href="#"><span>#Su</span></a></li>
                <li><a href="#"><span>#Su</span></a></li>
            </ul>
        </div>
        <!--<button type="button" class="btn_more"></button>-->
    </div>
    <!-- 추천 서비스 -->
    <div class="recommend">
        <div class="recommend-title">
            <h2>
                <a href="#">Recommendations for Korean Traditional Drinks</a>
                <span>These Recommendations of drinks are reflected on your personal Bigdata analysis</span>
            </h2>
            <button type="button" onclick="layerPopup.layerShow('curationAreaPop');">location select</button>
        </div>
        <!-- 추천사이트 내용 -->
        <div class="recommend-contents">
            <div class="recommend-contents-wrapper" id="curationlist">
                <div class="recommend-contents-slide" data-swiper-slide-index="0"><a><img src="../img/index/전라도1.PNG"><span>전라도1</span></sapn></a></div>
                <div class="recommend-contents-slide" data-swiper-slide-index="0"><a><img src="../img/index/전라도1.PNG"><span>전라도1</span></sapn></a></div>
                <div class="recommend-contents-slide" data-swiper-slide-index="0"><a><img src="../img/index/전라도1.PNG"><span>전라도1</span></sapn></a></div>
                <div class="recommend-contents-slide" data-swiper-slide-index="0"><a><img src="../img/index/전라도1.PNG"><span>전라도1</span></sapn></a></div>
            </div>
        </div>
            <!-- 만들고 싶었던 슬라이드 -->
            <div class="page">
                <div class="recommend-contentsbar">
                    <span class=""></span>
                </div>
                <div class="recommend-button-prev" tabindex="0" role="button" aria-label="Previous slide">pre</div>
                <div class="recommend-button-next" tabindex="0" role="button" aria-label="Next slide">next</div>
                <div class="recommend-pagenume"><strong>1</strong>/<span>10</span></div>
                <span class="recommend-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
        </div>
        <div class="recommend-wrapper" id="curationlist">

        </div>
        <div class="recommend-photo"></div>
    </div>

    <!-- 체험속으로  -->
    <div class="box-calendar">
        <div class="calendar-top">
            <button type="button" onclick="setNewCalendar(-1);" class="btn-prev"><span class="ico">이전</span></button>
            <div class="title">
                <a><img src="" class="ico"><p class="title-text">K-Cultural Experiences</p></a>
            </div>
            <button type="button" onclick="setNewCalendar(1);" class="btn-next"><span class="ico">다음</span></button>
            <a href="" class="btn-more">more</a>
        </div>
        <div class="calendar">
            <table>
                <tbody id="calendarUi">
                    <tr>
                        <td><button type="button" id="1">1</button></td>
                        <td><button type="button" id="2">2</button></td>
                        <td><button type="button" id="3">3</button></td>
                        <td><button type="button" id="4">4</button></td>
                        <td><button type="button" id="5">5</button></td>
                        <td><button type="button" class="saturday" id="6">6</button></td>
                        <td><button type="button" class="sunday" id="7">7</button></td>
                        <td><button type="button" id="8">8</button></td>
                        <td><button type="button" id="9">9</button></td>
                        <td><button type="button" id="10">10</button></td>
                        <td><button type="button" id="11">11</button></td>
                        <td><button type="button" id="12">12</button></td>
                        <td><button type="button" class="saturday" id="13">13</button></td>
                        <td><button type="button" class="sunday"id="14">14</button></td>
                        <td><button type="button" id="15">15</button></td>
                        <td><button type="button" id="16">16</button></td>
                        <td><button type="button" id="17">17</button></td>
                        <td><button type="button" id="18">18</button></td>
                        <td><button type="button" id="19">19</button></td>
                        <td><button type="button" class="saturday" id="20">20</button></td>
                        <td><button type="button" class="sunday"id="21">21</button></td>
                        <td><button type="button" id="22">22</button></td>
                        <td><button type="button" id="23">23</button></td>
                        <td><button type="button" id="24">24</button></td>
                        <td><button type="button" id="25">25</button></td>
                        <td><button type="button" id="26">26</button></td>
                        <td><button type="button" class="saturday" id="27">27</button></td>
                        <td><button type="button" class="sunday"id="28">28</button></td>
                        <td><button type="button" id="29">29</button></td>
                        <td><button type="button" id="30">30</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="calendar-list">
            <ul class="list-calData">
                <li><a href="#" onclick="" title="">
                    <span class="calendar-img"><img src="../img/index/전라도1.PNG"></span>
                    <em>date</em>
                    <strong>title</strong>
                    <span></span>
                </a></li>
                <li><a href="#" onclick="" title="">
                    <span class="calendar-img"><img src="../img/index/전라도1.PNG"></span>
                    <em>date</em>
                    <strong>title</strong>
                    <span></span>
                </a></li>
                <li><a href="#" onclick="" title="">
                    <span class="calendar-img"><img src="../img/index/전라도1.PNG"></span>
                    <em>date</em>
                    <strong>title</strong>
                    <span></span>
                </a></li>
            </ul>
        </div>
    </div>

    <!-- 여행지 사진 추천 -->
    <div class="line"></div>

    </div>
    <!-- footer -->
    <div data-include-path="footer.html"></div>

</body>

<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../js/index.js" defer type="text/javascript"></script>
<script src="../js/header-footer.js" defer type="text/javascript"></script>
<script src="../js/custom.js"></script>
<script src="../js/animation.js"></script>
<script src="../js/imagesloaded.js"></script>
<script src="../js/owl-carousel.js"></script>




</html>