<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap -->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/animated.css">
    <link rel="stylesheet" href="../css/owl.css">
    <link rel="stylesheet" href="../css/login.css">
    
    <title>로드</title>
</head>
<body>
    <div class="login-left">
        <div class="login-photo">
            <img src="../img/login/login_photo.jpg">
        </div>
    </div>
    <div class="login-right">
        <main>
            <div class="logo"><a href="introduction.html"><img src="../img/logo.png"></a></div>
            <article>
                <div class="login_id">
                    <input type="text" placeholder="ID" class="idValue">
                </div>
                <div class="login_password">
                    <input type="password" placeholder="PW" class="passwordValue">
                </div>
                <div>
                    <a href="mypage_favorites.html"><button class="login_btn">LOGIN</button></a>
                </div>
            </article>
            <div class="social-login">
                <hr class="leftHr">
                <div class="social-text">SOCIAL LOGIN</div>
                <hr class="rightHr">
            </div>
            <div class="social-menu">
                <ul class="social">
                    <li><i class="bi bi-facebook"></i></li>
                    <li><i class="bi bi-google"></i></li>
                    <li><i class="bi bi-twitter"></i></li>
                </ul>
                    
            </div>
            <div class="social-footer">
                <a href="">Did you forget the password?</a>
            </div>
        </main>

        <div class="login-footer">
            <div class="login-footer-contents">
                <p>Don't you have an account?</p>
                <a href="join.html">JOIN</a>
            </div>
        </div>
    </div>
</body>
</html>