<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap -->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/animated.css">
    <link rel="stylesheet" href="../css/owl.css">
    <link rel="stylesheet" href="../css/introduction.css">
    <link rel="stylesheet" href="../css/map.css">
    
    
    <title>로드</title>
</head>
<body>
    <!-- header -->
    <div data-include-path="header.html"></div>
    
    <!-- 지도 -->
    <div class="map"></div>    


    <!-- footer -->
    <div data-include-path="footer.html"></div>

</body>
    <script src="../js/header-footer.js" defer type="text/javascript"></script>
    <script src="../js/map.js"></script>
    <script src = "https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <!-- region=kr을 추가해주어야 동해로 표기 된다! -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRalWsY3QyTGM1vFQeDpOmoRvXsy9dL8U&callback=initMap&region=kr"></script>
</html>