
.intro-section{
    margin-top:50px;
}

.intro-section .intro-right-content .section-heading h1, h4{
    font-family: "정속언해M";
}

.intro-section .intro-right-content p{
    font-family: "정속언해M"
}

.intro-section .intro-button{
    margin-top:30px;
}

.intro-section .intro-button a{
    font-family: "정속언해M";
    color:#A33333;
    border: 1px solid #A33333;
    padding:10px;
    border-radius: 30px;
}

.intro-section .intro-button a:hover{
    background-color:#A33333;
    color:#fff;
}