/* 폰트 적용 */
@font-face{
    font-family: '행복고흥M';
    src: url('../font/행복고흥M.ttf') format('truetype');
    font-style: normal;
}
@font-face{
    font-family: '행복고흥B';
    src: url('../font/행복고흥B.ttf') format('truetype');
    font-style: normal;
}
@font-face{
    font-family: '정속언해M';
    src: url('../font/ON\ 정속언해R.ttf') format('truetype');
    font-style: normal;
}

/* 초기화 */
*{
    margin:0;
    padding:0;
    color:black;
    font-family:"정속언해M";
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

html, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #fff;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

ul {
    margin-bottom: 0px;
}

p {
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #afafaf;
}

img {
    width: 100%;
    overflow: hidden;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
    display: block;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
    width: 50%;
}

.grid-item {
    float: left;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* line */
.line{
    margin:auto;
    width:1320px;
    border-top:1px solid #afafaf;
}